.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu {
  align-self: self-end;
  display: flex;
  flex-direction: column;
}

.menu img {
  border-radius: 50%;
  align-self: flex-end;
  width: 2em;
  padding: 0.5em 0;
  cursor: pointer;
}

.menu ul {
  font-size: 0.5em;
  list-style-type: none; /* Remove bullets */
  padding: 0.5em; /* Remove padding */
  margin: 0; /* Remove margins */
  text-align: right;
  border: 1px solid #0ff;
}

.navigation {
  font-size: 0.5em;
  list-style-type: none;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding: 0;
}

.navigation li a {
  color: #0ff;
  font-size: 1.2em;
}

.menu ul li:last-child {
  text-decoration: underline;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#toyList li {
  max-height: 5em;
  padding: 0.5em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
